name: hassfest

on:
  push:
    paths:
      - "custom_components/evcm/**"
      - ".github/workflows/hassfest.yml"
      - "manifest.json"
      - "pyproject.toml"
  pull_request:
    paths:
      - "custom_components/evcm/**"
      - ".github/workflows/hassfest.yml"
      - "manifest.json"
      - "pyproject.toml"
  workflow_dispatch:

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run hassfest validation
        uses: home-assistant/actions/hassfest@main
