name: Validate with hassfest

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  hassfest:
    name: Hassfest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install hassfest
        run: |
          python -m pip install --upgrade pip
          pip install hassfest

      - name: Run hassfest
        run: |
          python -m hassfest .
