name: Validate with hassfest

on:
  push:
  pull_request:

jobs:
  hassfest:
    name: hassfest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install hassfest from GitHub
        run: python -m pip install --upgrade pip && pip install git+https://github.com/home-assistant/hassfest.git

      - name: Run hassfest
        run: hassfest
