name: tests

on:
  push:
    paths:
      - "custom_components/evcm/**"
      - "pyproject.toml"
      - ".github/workflows/test.yml"
      - "tests/**"
  pull_request:
    paths:
      - "custom_components/evcm/**"
      - "pyproject.toml"
      - ".github/workflows/test.yml"
      - "tests/**"
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dev deps
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: Pytest
        run: pytest
